body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(134deg, #a16ae8 0%, #b4fee7 100%);
}

.container {
  width: 730px;
  height: 650px;
  border: solid 5px #fff;
  align-items: center;
  margin: 5% 30%;
  background: #a483e8;
  border-radius: 30px;
  border: solid 1 px red;
}

.container h2 {
  color: #fff;
  padding: 2rem;
  text-align: center;
}

.botao {
  width: 30%;
  margin-left: 15rem;
  padding: 1rem;
  background: #ffe086;
  margin-top: 2rem;
  font-size: 16px;
  border-style: none;
  font-weight: bold;
  filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.1));
}
