@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(134deg, #a16ae8 0%, #b4fee7 100%);
}

.container {
  display: flex;
  align-items: center;
  padding-top: 8rem;
}

.container-imagem {
  width: 450px;
  padding-left: 20rem;
}

.container-nome-jogador {
  padding: 0 10rem 0 3rem;
  display: flex;
  flex-direction: column;
}

.container-nome-jogador-titulo {
  color: #3f2f4e;
  font-size: 70px;
  padding-bottom: 1rem;
}

.container-nome-jogador label {
  margin-left: 10rem;
  color: #352f2c;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 0.5rem;
}

.container-nome-jogador input {
  margin-left: 10rem;
  width: 400px;
  height: 40px;
  background: #fefefe;
  border: none;
  filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.2));
}

.botao {
  width: 30%;
  margin-left: 15rem;
  padding: 1rem;
  background: #ffe086;
  margin-top: 2rem;
  font-size: 16px;
  border-style: none;
  font-weight: bold;
  filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.1));
}
